.form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -2rem;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  position: relative;
  bottom: 2.5rem;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
